<div class="d-flex justify-content-center" >
  <div class="card" style="padding: 30px; margin-top: 50px;">
    <h3 class="card-title">Sign up</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <%= f.submit "Sign up", class: "btn btn-primary"  %>
    <br>
    <%= render "devise/shared/links" %>
    <% end %>
  </div>
<div>
